main{
  height: 100%;
  width: 100%;
}

.points{

  width: 100%;
  height: 50%;
  border: black solid 1px;
display: flex;
  align-items: center;
  justify-content: center;
}

#wrongSideUp{

  transform: rotate(180deg);
}
