main{
  display: flex;
  height: 100%;
  width: 100%;
}

app-player{
  width: 50%;
  z-index: 100;
}

app-score{
  position: fixed;
  left: 37.5%;
  top: 37.5%;
  height: 25%;
  width: 25%;
  border: white solid 1px;
  z-index: 1000;
}

#player1{
  background: #80c8e0;
}
#player2{
  background: #ea5454;
}
